@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body {
    
    min-height: 100vh;
    background: linear-gradient(#003355,#003355 50%, #FFF8F3 100%);
}
.men-sect{
    border: 2px solid blue ;
    display: flex;
    flex-direction: column;
}

.text-box{
    
}