@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body {
    
    min-height: 100vh;
    background: linear-gradient(#003355,#003355 50%, #FFF8F3 100%);
}

.sec{
    display: block;

}

.menu-btn{
    color: #FFF8F3;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.header{
    /* 
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center; */
    display: flex;
    padding: 20px 100px;
    position: sticky;
    /* padding: 20px 5px; */
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    width: 100%;
    /* border: 3px solid yellow; */
    /* position: absolute; */
}


/* .header .logo{
    position: relative;
    max-width: 80px;
} */

/* .header ul {
    position: relative;
    display: flex;
}
header ul li {
    list-style: none;;
}

header ul li a {
    display: block;
    color: #fff;
    font-weight: 800;
    margin-left: 40px;
    text-decoration:none;
} */

.header .nav-list li {
    list-style: none;
    display: inline-block;
}

.header .nav-list li a {
    display: block;
    margin-left: 20px;
    color:#FFF8F3 ;
    font-weight: bold;
    font-size:  20px;
    text-decoration: none;
}

.header .nav-list li a:hover {
    border-bottom:4px solid #f63e4e;
}

.header .nav-list li a  i{
    color:#f63e4e;
}
.header .img-logo{
    width: 10rem;
    border-radius: 5px;
}

.schBx{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px; 
    border-radius: 19px;
    width: 25%;
}

.schBx .txt{
    width: 70%;
    border-radius: 19px;
}

.schBx .icn{
    width: 25%;
    height: 100%;
}

.hero{
    background-image: url(./assets/hero2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    justify-content: center;
    align-items: flex-start;
    /* color: black; */
    width: 100%;
    height: 100vh;
    /* margin-top:2rem; */
    margin-bottom:3rem;
}

.hero h3 {
    font-size: 40px;
}

.hero h4 {
    font-size: 20px;
    margin-top: 20px;
}

.hero button {
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    background: #f63e4e;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 12%;
}

.pheading {
    text-align: center;
    color:#FFF8F3;
}

/* .pheading hr {
    width:20%;
    justify-content: space-between;
    align-items: center;
} */
/* .hero .htxt-big{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 10px;
    line-height: 1em;    
    text-align: center;
}

.hero .htxt-sm{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1em;
} */

.card-container{
    width: 100%;
    display: flex;   
    justify-content: space-evenly;
    margin-top: 1rem;
}

.card-container2{ 
    width: 100%;
    display: flex;   
    justify-content: space-evenly;
    margin-top: 1rem;
}

.card-container3{
    width: 100%;
    display: flex;   
    justify-content: space-evenly;
    margin-top: 1rem;
}



.card{
    position: relative;
    width: 300px;
    height:350px;
    background:#000;
    box-shadow: 0 15px 30px rgba(0,0,0,0.220);
    display: flex;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
    margin-right: 40px;
    /* margin-top: 20rem; */
}

.card:hover {
    width:600px;
}

.card .imgBx{
    position: relative;
    min-width: 300px;
    height:100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
}

.card .imgBx img {
    max-width: 270px;
    transition: 00.5s ease-in-out;
}

.card:hover .imgBx img {
    transform: rotate(-35deg)translate(-20px);
}
 .card .details{
    position: absolute;
    left: 0;
    min-height: 300px;
    height: 100%;
    background: #003355;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    z-index: 1;
    transition: 0.5s ease-in-out;
 }

 .card:hover .details{
    left: 300px;
 }

 .card .details::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom:10px solid transparent;
    border-left: 10px solid #fff;
 }

 .card .details h3{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1em;
 }

 .card .details h4{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1em;
 }

 .card .details p{
    color: #fff;
    opacity: 0.65;
    gap: 10px;
 }

 .card .details .size{
    display: flex;
    gap: 10px;
 }

 .card .details .size li {
    list-style: none;
    color: #fff;
    font-size: 00.9em;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    opacity: 0.65;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.1s;
 }

 .card .details .size li:hover{
    color: #003355;
    background: #fff;
    opacity: 1;
 }

 .card .details .group{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
 }

 .card .details .group h2{
    color: #fff;
    font-weight: 300;
    font-size: 2em;
 }

 .card .details .group h2 sup{
    font-weight: 300;
 }

 .card .details .group h2 small {
    font-size: 0.75em;
 }

 .card .details .group a {
    display: inline-flex;
    padding: 10px 25px;
    background: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    border-radius:8px;
    color: #003355;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.288);
    transition: 0.3s;
 }

 .card .details .group a:hover{
    background: #095ea3;
    color: #fff;
 }

 .tag{
    display: flex;
    justify-content:center;
    bottom: 8px;
    right: 10px;
    font-size: 35px;
    margin-top: 2rem;
    margin-bottom: 2rem;
 }